[submodule "dataset/opensource/moteus"]
	path = dataset/opensource/moteus
	url = https://github.com/mjbots/moteus
[submodule "dataset/opensource/MESC_FOC_ESC"]
	path = dataset/opensource/MESC_FOC_ESC
	url = https://github.com/davidmolony/MESC_FOC_ESC
